/* Caption Section*/

.caption{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}

/* The Caption */
.caption-container{
    width: 100%;
    height: 70vh;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* the Header in the caption */

.caption-container h1{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: -70px;
}

.caption-container #system{
    font-size: 15rem;
    /* letter-spacing: -30px; */
    margin-bottom: -50px;
}

.ams-abbreviation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.caption-container #getStarted{
    padding: 5px 40px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    margin: 40px 0;
    border-radius: 30px;
}

.animation-scroll-down{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px 19px;
    background-color: white;
    border-radius: 30px;
}

/* .animation-scroll-down::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 28%;
    padding: 5px 40px;
    height: 2rem;
    border-radius: 30px;
    box-shadow:  0 0 10px red, 
    inset 0 0 10px red;
}

.animation-scroll-down::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 28%;
    padding: 5px 40px;
    height: 2rem;
    border-radius: 30px;
    box-shadow:  0 0 10px red, 
    inset 0 0 10px red;
}

.animation-scroll-down::after, .animation-scroll-down::before{
    animation: pulse 4s linear infinite;
} */


/* Animation for box-shadow */

/* @keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    30% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
} */

/*  */

.animation-scroll-down i{
    font-size: 1.3rem;
    animation: 1s ease-in-out 1s infinite alternate arrow;
}

@keyframes arrow {
    0%{
        transform: translateY(-5px);
    }
    
    100%{
        transform: translateY(4px);
    }
}


/* Video Container beneath the caption */
.video-container{
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: 1;
    background-color: white;
}


/* Desktop UI Showcase Section */

.desktop-ui{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.desktop{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.205);
}

.desktop img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 16px;
}

/* About the App 1 */

.phone{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.p-container{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h2{
    width: 60%;
    font-size: 3rem;
    text-align: center;
}


/* Phone Exhibition */

.exhibition-one{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.phone{
    width: auto;
    margin: 0;
    padding: 0;
}

.phone img{
    width: 300px;
}

/* Exhibit */

.exhibit{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#home{
    font-size: 1.4rem;
    margin-bottom: 12px;
    font-weight: 500
}

#home i{
    margin-right: 3px;
}

#title{
    font-size: 1.2rem;
    font-weight: 300;
    width: 60%;
    line-height: 27px;
    letter-spacing: -0.2px;
}

#body{
    font-size: 2rem;
    font-weight: 400;
    width: 90%;
    letter-spacing: -0.2px;
    line-height: 35px;
}


/* Active Lectures */

.active-lectures{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #EFEFEF;
    padding: 15px 15px;
    border-radius: 20px;
    margin-top: 10px;
}

#today{
    font-family: 0.9rem;
    font-weight: 600;
}

.todays-lectures{
    width: 100%;
    display: flex;
    align-items: center;
}

/* Lecture */

.lecture{
    height: 150px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#code{
    color: #b0b0b0;
    font-size: 0.6rem;
    font-weight: 700;
}

#course{
    font-size: 0.9rem;
}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lecturer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.lecturer img{
    width: 20px;
    border-radius: 40px;
}

.lecturer #name{
    font-size: 0.6rem;
}

.time{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    font-size: 0.6rem;
}


/* About the App - Timetable */

.timetable{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.timetable-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timetable-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.timetable-head h2{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -2px;
}

.timetable-head span i{
    font-size: 3rem;
    color: black;
}

/* Accessories Container */

.accessories-container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    background-color: rgb(101, 5, 5);
    margin: 80px 0;
}

.timetble{
    width: 50%;
    height: 40vh;
    background-color: #EFEFEF;
    border-radius: 20px;
    margin: 30px 0;
}

/* Analytics */

.analytics{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    background-color: #EFEFEF;
    margin: 80px 0;
}

.analytics-head{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.analytics-head h2{
    font-size:5rem;
    font-weight: 500;
}

/* About the App - Messaging */

.messaging{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-top: 100px;
}

.messaging-container{
    width: 150%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
}

.row{
    width: 25rem;
    height: 13rem;
    border-radius: 30px;
    background-color: #c8c8c8;
    /* padding: 80px 200px; */
}

.row img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
}

.rowOne{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.rowOne span:nth-child(2){
    margin: 0 35px;
}

.rowThree{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rowThree span:nth-child(2){
    margin: 0 35px;
}

.rowTwo{
    width: 102%;
    height: 27vh;
    display: flex;
    justify-content: space-between;
}

.outter{
    position: absolute;
}

.outter span{
    padding: 50px 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0 80px 50px rgb(255, 255, 255);
    font-size: 5.5rem;
    font-weight: 500;
    border-radius: 40px;
    /* border: 5px solid rgba(115, 115, 115, 0.322); */
}


/* About Formal Conversations */

.about-formal-conversation{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.about-formal-conversation h3{
    font-size: 1.2rem;
    font-weight: 400;
}

.conversations{
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -60px;
}

.conversations .conversation-cards{
    width: 300px;
    height: 80px;
    background-color: #b0b0b0;
    /* padding: 20px; */
    border-radius: 20px;
}

.conversation-cards img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    .outter span{
        font-size: 2rem;
    }
}


@media screen and (max-width: 900px) {
    .caption{
        margin-top: 50px;
    }

    .caption-container{
        gap: 20px;
    }

    .caption-container h1{
        font-size: 1.2rem;
    }

    .caption-container #system{
        font-size: 10rem;
        margin-top: 20px;
    }

    .ams-abbreviation{
        gap: 10px;
    }

    .ams-abbreviation span{
        font-size: 0.8rem;
    }

   .caption-container #getStarted{
        font-size: 1.3rem;
    }

    .animation-scroll-down{
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0);
    }

    .animation-scroll-down span{
        font-size: 0.7rem;
    }

    #getStarted{
        margin: 0;
    }



    /* Desktop UI */

    .desktop-ui{
        margin-top: -50px;
    }

    .desktop{
        width: 90%;
    }

    /* Phone */

    .header h2{
        font-size: 2.7rem;
        width: 100%;
    }
    
    .exhibition-one{
        flex-direction: column;
        gap: 200px;
    }

    .exhibit{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #title, #body{
        text-align: center;
        width: auto;
    }
    .active-lectures{
        width: 100%;
    }

    /* Timetable */

    .timetble{
        width: 90%;
    }

    /* Messaging */

    .messaging-container{
        width: 120%;
        height: 70vh;
    }

    .row{
        width: 22rem;
    }

    .rowOne,.rowTwo, .rowThree{
        display: none;
    }

    .outter{
        position: relative;
        width: auto;
        padding: 0;
        height: 70vh;
    }

    .outter span{
        font-size: 2.4rem;
        padding: 20px;
    }

    /* About Formal */ 
    .about-formal-conversation h3{
        font-size: 0.9rem;
    }

    .conversations{
        margin-top: 40px;
        flex-direction: column;
    }
}


@media screen and  (min-width: 910px) and (max-width: 1201px) {
    .exhibition-one{
        gap: 80px;
        width: 100%;
        padding: 0;
    }

    .exhibit #title, #body{
        width: auto;
    }

    .messaging-container{
        height: auto;
        gap: 50px;
        overflow: hidden;
    }

    .rowTwo{
        width: 160%;
    }

    .outter span{
        padding: 40px 0px;
    }
    
}


@media screen and (max-height: 650px){
    .caption, .caption-container{
        min-height: 100vh;
    }
}

