<app-navbar></app-navbar>
<section class="caption">
    <div class="caption-container">
        <h1>Central's very own</h1>
        <span id="system">AMS</span>
        <div class="ams-abbreviation">
            <span>Attendance</span>
            <span>&#8226;</span>
            <span>Management</span>
            <span>&#8226;</span>
            <span>System</span>
        </div>
        <a id="getStarted" [routerLink]="['register']">Get Started</a>
        <div class="animation-scroll-down">
            <i class="bx bx-down-arrow-alt"></i>
            <span>Scroll Down to explore about our Management System</span>
        </div>
    </div>
    <!-- <div class="video-container">
        <video src=""></video>
    </div> -->
</section>


<!-- Desktop UI Showcase -->
<section class="desktop-ui">
    <div class="desktop">
        <img src="assets/home-desktop.png" alt="">
    </div>
</section>

<!-- About the App - 1 -->

<section class="phone">
    <div class="p-container">
        <div class="header">
            <h2>All your current lectures in one place.</h2>
        </div>
        <div class="exhibition-one">
            <div class="phone">
                <img src="assets/phoneOne.png" alt="">
            </div>
            <div class="exhibit">
                <!-- <span id="home"><i class="bx bxs-home"></i> Home</span> -->
                <span id="title">Get all your current lectures that weekly recure, </span>
                <span id="body">Know what lecture you have when you have them.</span>
                <div class="active-lectures">
                    <span id="today">Today's lectures</span>
                    <div class="todays-lectures">
                        <div class="lecture">
                            <div class="course-details">
                                <span id="code">COMP402</span>
                                <span id="course">Computer Architure</span>
                            </div>
                            <div class="info">
                                <div class="lecturer">
                                    <img src="" alt="">
                                    <span id="name">Dr. Gyan <br> Appiah</span>
                                </div>
                                <div class="time">
                                    <span id="timeHead">Time</span>
                                    <span id="time">7:00 AM - 10:00 AM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- About the App - Timetable -->

<section class="timetable">
    <div class="timetable-container">
        <div class="timetable-head">
            <!-- <span id="calendar"><i class="bx bxs-chalkboard"></i></span> -->
            <h2>Timetable</h2>
            <span>Your timetable in one place.</span>
        </div>
        <div class="accessories-container">
            <!-- <img id="phone" src="" alt=""> -->
            <img id="desktop" src="assets/lectures.png" alt="">
            <!-- <img id="watch" src="" alt=""> -->
        </div>
        <!-- <div class="timetble"></div> -->
    </div>
</section>


<!-- About the App - Analytics

<section class="analytics">
    <div class="analytics-head">
        <h2>Analyze</h2>
        <span>your punctuality Performance.</span>
    </div>
</section> -->


<!-- About the App - Messaging -->

<!-- <section class="messaging">
    <div class="messaging-container">
        <div class="rowOne">
            <div class="row"><img src="" alt=""></div>
            <div class="row"><img src="" alt=""></div>
            <div class="row"><img src="" alt=""></div>
        </div>
        <div class="rowTwo ">
            <div class="row rowT"><img src="" alt=""></div>
            <div class="row rowT"><img src="" alt=""></div>
        </div>
        <div class="rowThree ">
            <div class="row"><img src="" alt=""></div>
            <div class="row"><img src="" alt=""></div>
            <div class="row"><img src="" alt=""></div>
        </div>
        <div class="outter">
            <span>All Messaging</span>
        </div>
    </div>

</section>

<div class="about-formal-conversation">
    <h3>Have all your formal conversations in one place.</h3>
    <div class="conversations">
        <div class="conversation-cards"> <img src="" alt=""></div>
        <div class="conversation-cards"> <img src="" alt=""></div>
        <div class="conversation-cards"> <img src="" alt=""></div>
    </div>
</div> -->

<div class="not">
    <div class="not-conta">
        <span>Alert</span>
        <span>Login and some other contents have been disabled due to ongoing developements. Click <a href=""><b href="#getStarted">'Get Started'</b></a> to register with us and Android users can download and use the app by clicking on the 
            <a href="#gettheapp"><b>'Get the app'</b></a> button above. Other platforms shall be ready soon.</span>
    </div>
</div>

<footer>
    <!-- <div class="top">
        span.title
    </div> -->
    <div class="cpryt"><span>&copy;Copyright 2023  <a href="">PePa Tech</a></span> </div>
</footer>