<div class="navbar">
    <div class="container">
      <div class="logo" (click)="toHome()">
        <img src="assets/cu-logo.png" alt="">
        <span>A</span>
        <span>M</span>
        <span>S</span>
      </div>
      <div class="menu">
        <ul>
         <li><a [routerLink]="['']">Home</a></li>
         <li><a href="" [ngStyle]="{pointerEvents: 'none'}" style="color: grey;">About</a></li>
         <li><a href="" [ngStyle]="{pointerEvents: 'none'}" style="color: grey;">How to?</a></li>
        </ul>
      </div>
      <div class="cta">
        <a [ngStyle]="{pointerEvents: 'none'}"  style="color: grey;" (click)="toLogin()" id="login" [routerLink]="['login']">Login</a>
        <a id="gettheapp" [href]="fileUrl" download="centralams.apk">Get the App</a>
      </div>
    </div>
  </div>
  